<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header>
      <ion-col class='ion-text-center'>
      <ion-text>
      <p>This application was created by the</p>
      <p><b>Liberty Life Imahudo Digital Disruptors!</b></p>
      </ion-text>
    </ion-col>
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/liberty/dzunisani.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Dzunisani Mabunda</h2>
        <h3>Senior Specialist: IT Internal Auditor</h3>
        <p>Johannesburg, ZA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/liberty/lwazi.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Lwazi Hlatshwayo</h2>
        <h3>Senior Specialist: IT Internal Auditor</h3>
        <p>Johannesburg, ZA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/liberty/mziyanda.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Mziyanda Peter</h2>
        <h3>Senior Data Scientist</h3>
        <p>Johannesburg, ZA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/liberty/neo.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Neo Phenya</h2>
        <h3>Specialist: Internal Auditor</h3>
        <p>Johannesburg, ZA</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/liberty/tumelo.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tumelo Ramaema</h2>
        <h3>Senior Specialist: IT Internal Auditor</h3>
        <p>Johannesburg, ZA</p>
      </ion-label>
    </ion-item>
    
  </ion-list>


</ion-content>